POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=123qwe
POSTGRES_USER=app
POSTGRES_DB=auth

REDIS_HOST=redis
REDIS_PORT=6379

AUTH_APP_ADDRESS=flask-auth
AUTH_APP_PORT=8002

ADMIN_EMAIL=admin@email.local
ADMIN_PASSWORD=some_long_password

JAEGER_HOST=jaeger
JAEGER_PORT=6831